@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: orange;
  border: 2px solid orange;
  padding: 1px 4px;
  background-color: rgba(80, 54, 6, 0.718);
  border-radius: 4px;
}
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}
